*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'popins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --bg-color: radial-gradient(#fff,#ecfebd);
    --second-bg-color: #966b6b;
    --text-color: #555;
    --main-color: #1a921a;
}

body{
    background: var(--bg-color);
    font-family: 'popins', sans-serif;
    color: var(--text-color);
    width: 100%;
}


html::-webkit-scrollbar{
    width: 8px;
}
html::-webkit-scrollbar-track{
    background: #fff
}

html::-webkit-scrollbar-thumb{
    background: var(--text-color);
}



/* Navbar Section */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    z-index: 999;
    /* margin: 0; */
    justify-content: right;
    background: #ebfac4;
}
.navbar a{
    padding: 10px;
    font-size: 18px;
    color: var(--text-color);
    margin-left: 55px;
    font-weight: 200;
    transition: 0.3s ease;
    font-weight: 700;
    
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-radius: 20px;
    box-shadow: 0 0 14px var(--main-color);
}
#menu-icon,#cross-icon{
    display: none;
}


/* Navigation bar */
@media(max-width:801px){
    #menu-icon{
        display: block;
        text-align: right;
       margin: 20px 20px 0 0;
       font-size: 20px;
    }
    #cross-icon{
        text-align: right;
        margin: 10px 170px 0 0;
        font-size: 20px;
        font-weight: bold;
    }
    .navbar{
        position: fixed;
        top: 0;
        right: 0;
        width:50%;
        z-index: 999;
        border-left: 2px solid rgb(20, 84, 2);
        border-bottom: 2px solid rgb(20, 84, 2);
        border-bottom-left-radius: 2rem;
        padding: 15px 3%;
        background-color:#ebfac4;;
        border-top: 0.1rem solid rgba(0,0,0,0.4);
        display: none;
    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 18px;
        margin: 25px 0;
        color: rgb(13, 4, 19);
    }
    .navbar a:hover,
    .navbar a.active{
        padding: 1rem;
        color: rgb(13, 4, 19);
        border-radius: 0.5rem;
        border-bottom: 2px solid rgb(20, 84, 2);
    }
}



.welcome{
    margin: 12px;
    text-align: center;
    padding-top: 100px;
}
.welcome span{
    font-size: 35px;
    color: rgb(4, 54, 98);
}
@media(max-width:600px){
    .welcome{
        padding-top: 15px;
    }
}

/* Upload section */

section{
    min-height: 85vh;
    padding: 0 30px;
    
}

h2{
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    position: relative;
}


.main{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description{
    width: 35%;
}
.description img{
    width: 425px;
}

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-direction: column; 
    gap: 50px;
    border: 1px solid var(--second-bg-color);
    border-radius: 35px;
    padding: 55px;
    box-shadow: inset 0 0 18px #4f4b4bde;
    margin-top: 25px;
    margin-right: 150px;
}
#camera1,#camera2,#file_upload{
    display: none;
}

#both-camera{
    display: flex;
    gap: 45px;
}
label{
    font-size: 12px;
    cursor: pointer;
    color: #4f0343;
}

label[for="file_upload"]{
    font-size: 12px;
    color: #fff;
    background: rgb(40, 40, 239);
    padding: 12px;
    border-radius: 40px;
    box-shadow: 1px 0 5px 1px #5d8890;
    transition: 0.4s ease;
}
label[for="file_upload"]:hover{
    transform: scale(1.1)translateY(-5px);
    background: rgb(30, 30, 180);
    box-shadow: 0 0 15px rgba(72, 72, 176, 0.678);
}


@media (max-width:769px){
    .main{
        flex-direction: column;
        margin-bottom: 23px;
    }
    .upload{
        margin: auto;
        width: auto;
    }
    .description{
        width: auto;
    }
    .description img{
        width: 300px;
    }
}




/* problem section */

#problem-section{
    padding-bottom: 35px;
    background: #c59595;
    padding-top: 90px;
}

#problem-content{
    margin: auto;
    color: #fff;
}

.problem-grid{
    margin-top: 55px;
    margin-bottom: 55px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    gap: 50px;
    justify-content: center;
}
.problem-grid h3{
    text-align: center;
    margin: 25px;
}

.problem-grid img{
    width: 250px;
}
.about-problem{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    border-radius: 35px;
    background: rgb(3, 94, 74);
    padding: 10px;
    color: #fff;
    position: relative;
    padding-bottom: 50px;
}
.about-problem p{
    margin-top: 10px;
}
.about-problem a{
    color: rgb(52, 33, 149);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    bottom: 10px;
}


@media(max-width:768px){
    #problem-section{
        padding-top: 20px;
    }
    #problem-content{
        flex-direction: column;
    }
    #problem-content h2{
        font-size: 30px;
    }
    .problem-grid{
        grid-template-columns: 0.1fr;
    }
}



/* pie chart section */

#chart-section{
    background: #fff;
}

#chart-section h2{
    margin-bottom: 50px;
}
#compiled-image{
    align-items: center;
    display: flex;
    justify-content: center;
}
#compiled-image img{
    width: 600px;
}


#chart{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    padding-bottom: 30px;
}
#chart img{
    width: 400px;
}
#chart #pie-img{
    height: 35vh;
    width: 300px;
}   


@media(max-width:768px){
    #compiled-image img{
        width: 300px;
    }
    #chart{
        flex-direction: column;
    }
    #chart-section h2{
        font-size: 30px;
    }
    #chart img{
        width: 250px;
    }
    #chart #pie-img{
        height: 18vh;
        width: 200px;
    }  
}



/* describe Enviornment section */

#describe-env-section{
    padding-top: 100px;
    padding-bottom: 100px;
    color:#fff;
    background:#c59595;;
}
#describe-env-section h2{
    margin-bottom: 40px;
}
.describe-env{
    display: grid;
    gap: 20px;
}
.enviornment{
    border: 1px solid black;
    border-radius: 20px;
    padding: 26px;
    background: rgb(1, 1, 56);
}

.enviornment h3{
    font-size: 35px;
    margin: 20px;
    text-align: center;
}
.env-para-img p{
    text-align: justify;
    font-size:22px
}
.env-para-img img{
    width: 400px;
    float: left;
    margin-right: 12px;
    border-radius: 20px;
}
@media(max-width:768px){
    #describe-env-section{
        padding-top: 25px;
    }
    .enviornment{
        padding: 10px;
    }
    .env-para-img img{
        width: 150px;
    }
    .env-para-img p{
        -webkit-hyphens: auto;
        hyphens: auto;
        font-size: 12px;
    }
    .enviornment h3{
        font-size: 20px;
    }
}





/* Government Approach Section */

#gov-section{
    padding-top: 100px;
}
#gov{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pm-image img{
    width: 350px;
}

#gov p{
    margin: 30px;
    color: rgb(4, 54, 98);
    font-weight: bold;
}

.gov-grid{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    gap: 20px;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.gov-grid img{
    width: 250px;
}


@media(max-width:768px){
    #gov{
        flex-direction: column;
    }
    .gov-grid{
        grid-template-columns:0.5fr;
        margin-left: 5px;
    }
    #pm-image img{
        width: 170px;
    }
    .gov-grid img{
        width: 200px;
    }

}






/* Our Team Section */

/* h2 styling same as about-section h2 styling */


#team{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#team-section{
    padding-top: 100px;
}
#team-image{
    width: 35%;
}
#team-image img{
    width: 100%;
    border-radius: 25px;
}
#team-image img:hover{
    transform: 1.01;
    filter: drop-shadow(0 0 25px var(--main-color));
}
#team-image p{
    text-align: center;
    margin-top: 20px;
    color: rgb(4, 54, 98);
    font-size: 35px;
}
#team-info{
    width: 60%;
}

#team-info h3{
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bolder;
}
#team-info li{
    color: rgb(4, 54, 98);
    font-size: 17px;
    font-weight:700;
}

.up-down{
    justify-content: center;
    text-align: center;

}
.left-right{
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media (max-width:768px) {
    #team{
        flex-direction: column;
        margin-bottom: 100px;
    }
    #team-image{
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    #team-info{
        margin-top: 50px;
        width: 100%;
    }
    #team-info h3{
        font-size: 18px;
    }
    #team-info li{
        font-size: 15px;
    }
    section{
        padding: 0px 25px;
    };
}
@media (max-width:610px){
    #team-section{
        padding-top: 35px;
    }
    #team-image p{
        font-size: 18px;
    }
}


/* Contact section */

#contact{
    background: rgb(17, 15, 15);
    min-height: 45vh;
    color: #fff;
}
#contact p{
    padding-left: 110px;
    font-size: 18px;
    
}

.contact-grid{
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 20px;
    margin: 10px 0 0 80px;
}

.contact-grid a{
    color: #fff;
}
#contact-no p{
    text-align: right;
    margin-right: 35px;
}


#contact-no p:first-child{
    margin-right: 77px;
}

@media(max-width:768px){
    #contact{
        flex-direction: column;
        min-height: 65vh;
    }
    #contact p{
        padding-left: 10px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    #contact h2{
        font-size: 15px;
    }
    .contact-grid{
        margin-bottom: 10px;
        margin-left: 10px;
        grid-template-columns: repeat(2, 0.1fr);
        
    }

}

