*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'popins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --bg-color: radial-gradient(#fff,#b9fdb9);
    --second-bg-color: #966b6b;
    --text-color: #555;
    --main-color: #1a921a;
}

body{
    background: var(--bg-color);
    font-family: 'popins', sans-serif;
    color: var(--text-color);
    width: 100%;
}


html::-webkit-scrollbar{
    width: 8px;
}
html::-webkit-scrollbar-track{
    background: #fff
}

html::-webkit-scrollbar-thumb{
    background: var(--text-color);
}



/* Navbar Section */
.navbar{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: right;
}
.navbar a{
    padding: 10px;
    font-size: 18px;
    color: var(--text-color);
    margin-left: 55px;
    font-weight: 200;
    transition: 0.3s ease;
    text-decoration: none;
    
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-radius: 20px;
    box-shadow: 0 0 14px var(--main-color);
}
#menu-icon,#cross-icon{
    display: none;
}


/* Navigation bar */
@media(max-width:801px){
    #menu-icon{
        display: block;
        text-align: right;
       margin: 20px 20px 0 0;
       font-size: 20px;
    }
    #cross-icon{
        text-align: right;
        margin: 10px 170px 0 0;
        font-size: 20px;
        font-weight: bold;
    }
    .navbar{
        position: fixed;
        top: 0;
        right: 0;
        width:45%;
        z-index: 999;
        border-left: 2px solid rgb(20, 84, 2);
        border-bottom: 2px solid rgb(20, 84, 2);
        border-bottom-left-radius: 2rem;
        padding: 15px 3%;
        background-color: #6ddc90;
        border-top: 0.1rem solid rgba(0,0,0,0.4);
        display: none;
        /* transition: 1s ease-in-out; */
    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 18px;
        margin: 25px 0;
        color: rgb(13, 4, 19);
    }
    .navbar a:hover,
    .navbar a.active{
        padding: 1rem;
        color: rgb(13, 4, 19);
        border-radius: 0.5rem;
        border-bottom: 2px solid rgb(20, 84, 2);
    }
}



.welcome{
    margin: 12px;
    text-align: center;
}
.welcome span{
    font-size: 35px;
    color: rgb(4, 54, 98);
}


/* Upload section */

section{
    min-height: 85vh;
    padding: 0 30px;
    
}

.main{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description{
    flex-basis: 60%;
}
.description img{
    width: 100%;
    /* height: 55vh; */
    border-radius: 35px;
}

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    flex-direction: column;
    gap: 50px;
    border: 1px solid var(--second-bg-color);
    border-radius: 35px;
    box-shadow: inset 0 0 25px var(--bg-color);
    padding: 55px;
    box-shadow: inset 0 0 18px #4f4b4bde;
    margin-top: 25px;
}
#camera1,#camera2,#file_upload{
    display: none;
}

#both-camera{
    display: flex;
    gap: 45px;
}
label{
    font-size: 12px;
    cursor: pointer;
    color: #4f0343;
}

label[for="file_upload"]{
    font-size: 12px;
    color: #fff;
    background: var(--main-color);
    padding: 12px;
    border-radius: 40px;
    box-shadow: 1px 0 5px 1px #45656b;
    transition: 0.4s ease;
}
label[for="file_upload"]:hover{
    transform: scale(1.1)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
}


@media (max-width:769px){
    .main{
        flex-direction: column;
        margin-bottom: 23px;
    }
}




/* About section */

#about-section{
    background: #fff;
    padding-bottom: 35px;
}

h2{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    position: relative;
}


#about-para{
    color: rgb(4, 54, 98);
    border: 3px dotted #ff523b;
    border-radius: 38px;
    padding: 55px;
    box-shadow: inset 0 0 18px #555;
}



/* Our Team Section */

/* h2 styling same as about-section h2 styling */


#team{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#team-image{
    width: 35%;
}
#team-image img{
    width: 100%;
    border-radius: 25px;
}
#team-image img:hover{
    transform: 1.01;
    filter: drop-shadow(0 0 25px var(--main-color));
}
#team-image p{
    text-align: center;
    margin-top: 20px;
    color: rgb(4, 54, 98);
    font-size: 35px;
}
#team-info{
    width: 60%;
}

#team-info h3{
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bolder;
}
#team-info li{
    color: rgb(4, 54, 98);
    font-size: 17px;
    font-weight:700;
}

.up-down{
    justify-content: center;
    text-align: center;

}
.left-right{
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media (max-width:768px) {
    #team{
        flex-direction: column;
        margin-bottom: 100px;
    }
    #team-image{
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    #team-info{
        margin-top: 50px;
        width: 100%;
    }
    #team-info h3{
        font-size: 20px;
    }
    #team-info li{
        font-size: 15px;
    }
    section{
        padding: 0px 25px;
    };
}
@media (max-width:610px){
    #team-image p{
        font-size: 18px;
    }
}


/* Contact section */

#contact{
    background: rgb(17, 15, 15);
    min-height: 50vh;
    color: #fff;
}
#contact p{
    padding-left: 110px;
    font-size: 18px;
    
}
#contact-no p{
    text-align: right;
    margin-right: 35px;
}

#contact-no p:first-child{
    margin-right: 77px;
}

@media(max-width:768px){
    #contact{
        flex-direction: column;
    }
    #contact p{
        padding-left: 10px;
        font-size: 15px;
        margin-bottom: 10px;

    }
    #contact h2{
        font-size: 15px;
    }

}

